@model IndexViewModel
@{
    ViewBag.Title = "Manage";
    var statusMsg = ViewBag.StatusMessage as string;
}

@section Box
{
    @*<div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">@ViewBag.Title</h5>
                            <span class="h4 font-weight-bold mb-0">Change your account settings</span>
                        </div>

                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fas fa-address-card"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>*@

    @if (!string.IsNullOrWhiteSpace(statusMsg))
    {
        <div class="col-xl-12 col-lg-8">
            <div class="card card-stats mb-4 mb-xl-0">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Status Message</h5>
                            <span class="h2 font-weight-bold mb-0 text-success">@statusMsg</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}

<div class="col-xl-12 col-lg-12">
    <div class="card shadow--hover mb-4 mb-xl-0">

        <div class="card-profile-actions">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">@ViewBag.Title</h5>
                    <span class="h4 font-weight-bold mb-0">Change your account settings</span>
                </div>

                <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-address-card"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
                @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                *@
                @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                *@
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                </dd>
            </dl>
        </div>
    </div>
</div>
