
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    var foundSchoolPrograms = ViewBag.SchoolPrograms as List<SchoolProgram>;
    var userId = User.Identity.GetUserId();
}

@section Styles
{
    <style type="text/css">
        .myLink {
            color: #5e72e4;
        }

            .myLink:hover {
                color: #233dd2;
            }
    </style>
}

<div class="row">

    @foreach (var sp in foundSchoolPrograms)
    {
        <div class="col-md-12 mb-5 mb-xl-5">
            <div class="card bg-gradient-default">

                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="text-uppercase text-white ls-1 mb-1">
                                <a href="@Url.Action(nameof(SchoolProgramController.Details), MiscExt.GetName<SchoolProgramController>(), new { sp.Id })">
                                    @sp.Name
                                </a>
                            </h2>
                            <h5 class="text-light mb-0">School Program</h5>
                        </div>

                        <div class="col"></div>
                    </div>
                </div>

                <div class="card-body row">

                    @foreach (var course in sp.Courses)
                    {
                        <div class="col-xl-6 mb-5 mb-xl-5 shadow-none">
                            <div class="card bg-translucent-default shadow--hover">

                                <div class="card-header bg-transparent">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            @if (course.InstructorId == userId || course.EnrolledStudents.Any(student => student.Id == userId))
                                            {
                                                <a class="myLink h4 text-uppercase ls-1 mb-1" href="@Url.Action(nameof(CourseController.Details), MiscExt.GetName<CourseController>(), new { course.Id })">
                                                    @course.Name
                                                </a>
                                            }
                                            else
                                            {
                                                <span class="text-muted">@course.Name</span>
                                            }
                                            <h5 class="text-light mb-0">Course</h5>
                                        </div>

                                        <div class="col"></div>
                                    </div>
                                </div>

                                <div class="card-body">

                                    <div class="card-group">
                                        <label class="form-control-label text-muted"><i class="ni ni-box-2"></i> Course Name</label>
                                        <div class="input-group input-group-alternative">
                                            <span class="h3 text-lighter">@course.Name</span>
                                        </div>
                                    </div>

                                    <div class="card-group">
                                        <label class="form-control-label text-muted"><i class="ni ni-time-alarm"></i> Start Date</label>
                                        <div class="input-group input-group-alternative">
                                            <span class="h3 text-lighter">@course.StartDate.Date.ToLongDateString()</span>
                                        </div>
                                    </div>

                                    <div class="card-group">
                                        <label class="form-control-label text-muted"><i class="ni ni-time-alarm"></i> End Date</label>
                                        <div class="input-group input-group-alternative">
                                            <span class="h3 text-lighter">@course.EndDate.Date.ToLongDateString()</span>
                                        </div>
                                    </div>

                                    <div class="card-group">
                                        <label class="form-control-label text-muted"><i class="ni ni-watch-time"></i> Class Start Time</label>
                                        <div class="input-group input-group-alternative">
                                            <span class="h3 text-lighter">@course.ClassStartTime.TimeSpan12HourString()</span>
                                        </div>
                                    </div>

                                    <div class="card-group">
                                        <label class="form-control-label text-muted"><i class="ni ni-watch-time"></i> Class End Time</label>
                                        <div class="input-group input-group-alternative">
                                            <span class="h3 text-lighter">@course.ClassEndTime.TimeSpan12HourString()</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>


    }



</div>



@Html.Partial("_Footer")