
@{
    ViewBag.Title = "FullCalendar";
    var SP = ViewBag.SP as SchoolProgram;
}

<h2>Full Calendar</h2>

<div id="calender" style="margin-bottom: 45px;"></div>


@section Styles
{
    @{Html.RenderPartial("_FullCalendarLinks");}
}


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@(@"https://unpkg.com/@fullcalendar/core@4.2.0/main.min.js")" type="text/javascript"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/home/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log("each:", v);
                        events.push({
                            id: v.EventId,
                            title: v.Subject,
                            //description: v.Description,
                            start: moment(v.Start),
                            //end: v.End != null ? moment(v.End) : null,
                            //color: v.ThemeColor,
                            //allDay: v.IsFullDay
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                console.log(events);
                var calendarEl = document.getElementById('calender');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['dayGrid'],
                    contentHeight: 600,
                    defaultDate: '@DateTime.Now.ToHtmlInputDateTimeValueString()',
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    //eventColor: '#378006',
                    events: [
                        {
                          title  : 'event1',
                          start  : '2019-14-06'
                        },
                        {
                          title  : 'event2',
                          start  : '2019-01-04',
                          end    : '2019-01-07'
                        },
                        {
                          title  : 'event3',
                          start  : '2019-01-09T12:30:00',
                          allDay : false // will make the time show
                        }
                    ],
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    }
                });


                events.forEach(ele => {
                    console.log(ele);
                    calendar.addEvent({
                      title: ele.title,
                      start: ele.start,
                      allDay: ele.allDay
                    });
                });
                calendar.render();
                console.log(calendar.getEvents());

                //$('#calender').fullCalendar('destroy');
                //$('#calender').fullCalendar({
                //    contentHeight: 400,
                //    defaultDate: new Date(),
                //    timeFormat: 'h(:mm)a',
                //    header: {
                //        left: 'prev,next today',
                //        center: 'title',
                //        right: 'month,basicWeek,basicDay,agenda'
                //    },
                //    eventLimit: true,
                //    eventColor: '#378006',
                //    events: events,
                //    eventClick: function (calEvent, jsEvent, view) {
                //        $('#myModal #eventTitle').text(calEvent.title);
                //        var $description = $('<div/>');
                //        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                //        if (calEvent.end != null) {
                //            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                //        }
                //        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                //        $('#myModal #pDetails').empty().html($description);

                //        $('#myModal').modal();
                //    }
                //})
            }
        })
    </script>
}