@model CalenderDataViewModel

@{
    ViewBag.Title = "Home Page";
}

<style>
    .calenderContainer {
        display: flex;
        flex-flow: row wrap;
    }
</style>

<div>Program - @Model.SchoolProgram.Name</div>

<!--NEW-->
<div class="calenderContainer">
    @{
        var daysInMonth = DateTime.DaysInMonth(Model.Today.Year, Model.Today.Month);

        var coursesInRange = Model.SchoolProgram.Courses
            .ToList()
        .FindAll(c => Model.Today.Month >= c.StartDate.Month && Model.Today.Month <= c.EndDate.Month);

        for (var day = 1; day <= daysInMonth; day++)
        {
            DateTime renderedDay = new DateTime(Model.Today.Year, Model.Today.Month, day);
            <div class="calenderChild" style="display: flex; flex-flow: row wrap; width: 150px; height: 150px; border: 1px solid black; padding: 5px;">
                <span>@day - @renderedDay.DayOfWeek</span>
                @if (coursesInRange.Count > 0)
                {
                    foreach (var course in coursesInRange)
                    {
                        for (var courseDay = 1; courseDay <= daysInMonth; courseDay++)
                        {
                            if (renderedDay > course.EndDate)
                            {
                                break;
                            }

                            if (day == courseDay)
                            {
                                if (renderedDay.InRange(course.StartDate, course.EndDate.AddDays(1)))
                                {
                                    <small style="margin-left: 15px;">@course.Name i:@day k:@courseDay</small>
                                    <p>This date has @day a class</p>
                                }
                            }
                        }
                    }
                }
            </div>
        }
    }



    @*}*@
    @*
        @foreach(var schoolProgram in Model.SchoolPrograms)
        {
            <div>
            </div>
        }
    *@
</div>
<div style="margin-top: 15px;">
    @using (Html.BeginForm())
    {
        @Html.MonthFor(
            expression: model => model.Today,
            initialDate: Model.Today,
            style: null,
            classNames: null)
        <button class="btn btn-default" type="submit">Submit</button>
    }
</div>

<!--OLD-->
@*
    <div class="calenderContainer">
        @{
            var daysInMonth = DateTime.DaysInMonth(Model.Today.Year, Model.Today.Month);

            var coursesInRange = Model.SchoolProgram.Courses.FindAll(c => Model.Today.Month == c.StartDate.Month || Model.Today.Month == c.EndDate.Month);
            for (var i = 0; i < daysInMonth; i++)
            {
                <div class="calenderChild">
                    <p>@(i + 1)</p>
                    @if (coursesInRange.Count > 0)
                    {
                        foreach(var j in coursesInRange)
                        {
                            for(var k = j.StartDate.Day; k <= j.EndDate.Day; k++)
                            {
                                if ((i + 1) == k)
                                {
                                    <p>This date has a class</p>
                                }
                            }
                        }
                    }
                </div>
            }
        }

        @foreach(var schoolProgram in Model.SchoolPrograms)
        {
            <div>
            </div>
        }
    </div>
*@
